@model ProCart.core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index","Basket")">@Model.BasketCount items</a></li>
    <li><a href="@Url.Action("Index","Basket")">@String.Format(new System.Globalization.CultureInfo("en-IN"), "{0:C}", Model.BasketTotal)</a></li>
</ul>